body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
}
.lab {
  width: 300px;
}
.nav-box {
  display: flex;
  justify-content: space-between;
}
.nav-link {
  color: cadetblue;
}
.nav-link__active {
  color: blue;
}
